*{
    margin: 0px;
    padding: 0px;
    margin-top: border-box ;
}

header{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
h1{
    font-size: 70px;
    text-align: center;
    margin-top: 70px;
}
.L{
    width: 350px;
    height: 240px;
    background-color: red;
    color: white;
    font-size: 40px;
    text-align: center;
 padding-top: 155px;
    
}
.W{
    color: black;
    font-size: 40px;
    text-align: center;
}

.ota{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}